@import url(fonts.css);

/* !Root start */
:root {
    --font-base: "Montserrat";
    --font-alt: "Trebuchet";
    --body: #fff;
    --text: #323232;
    --title: #7177F1;   
    --btn: #7177F1;
    --link: #7177F1;
    --dots: #828282;
    --dots-active: #7177F1;
}

body {
    background: var(--body);
    font-family: var(--font-base);
    color: var(--text);
}

a {
    text-decoration: none;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
    margin-bottom: 0;
}

.button {
    background: var(--btn);
    color: var(--bs-white) !important;
    border-radius: 8px;
    display: block;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    transition: 0.5s;
}
.button:hover {
    background: var(--bs-white);
    color: var(--btn) !important;
}
/* !Root end */
/* ============================= */
/* !Header start */
.menu__link {
    color: var(--link);
    font-size: 24px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.5s;
}
.menu__link:hover {
    color: var(--text);
}
.menu__icon {
    line-height: 25px;
    font-size: 30px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler {
    color: var(--title);
    font-size: 30px;
}
.navbar {
    padding: 13px 0;
}
.logo__dark {
    display: none;
}
.menu {
    max-width: 660px;
    width: 100%;
}
.navbar-toggler.collapsed {
    box-shadow: 0 0 5px var(--title);
}
/* !Header end */
/* ============================= */
/* !Sliders start */
.slider {
    margin-top: 30px;
}
.slider__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
    margin-bottom: 13px;
}
.slider__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: var(--title);
    text-transform: capitalize;
    margin-bottom: 30px;
}
.slider__btn {
    max-width: 299px;
    width: 100%;
    text-align: center;
    margin: 0 auto 50px;
}
.slider__logo {
    margin-bottom: 15px;
}
.slider__name {
    font-weight: 900;
    font-size: 20px;
    color: var(--title);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.slider__img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.slider__indicators {
        position: static;
        margin: 0;
        margin-top: 50px;
}
.slider__indicators .slider__dot {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: var(--dots);
    margin: 0 15px;
}
.slider__indicators .slider__dot.active {
    background: var(--dots-active);
}
/* !Sliders end */
/* ============================= */
/* !Footer start */

/* !Footer end */
/* ============================= */
/* !Footer start */

/* !Footer end */
/* ============================= */